<!DOCTYPE html>
<html>
<head>
<head>
<body>

{{> header}}


<div id = "container">
  <p> Some ideas may include:
    <ul>
      <li>
      Augumented Medical Analysis
      </li>
      <li>
      Deeper Social Connections
      </li>
    </ul>
  </p>
</div>


{{> footer}}

</body>
</html>
